@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  border: 1px solid red;
}
.biru-tua{
  color: #00296B;
}
.biru-muda{
  color: #00509D;
}
.kuning-tua{
  color: #FBC015;
}
.pale-white{
  color: #F6F6F6;
}
.dark-grey{
  color: #161616;
}
.bg-biru-muda{
  background-color: #00509D;
}
header {
  background-color: #00296b;
  font-size: x-large;
  font-weight: medium;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  list-style: none;
  gap: 32px;
  margin-right: 8rem;
  padding: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}

.nav-logo {
  margin-left: 8rem;
}

.container {
  width: 100%;
  padding: 1rem 8.7rem;
  align-items: center;
  margin: 12rem 0;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.img-jobs{
  margin-right: 20rem;
  background: rgba(0, 0, 0, 0.6);
}

h1{
  font-size: 64px;
  color: #FBC015;
}

.about p{
  font-size: 32px;
}

.prototype{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;

}
.section-prototype{
    margin-top: 3rem;
}
.prototype h1{
  text-align: center;
}
.prototype p{
  font-size: 32px;
  text-align: center;
}
.prototype-pain{
  margin-top: 3rem;
}

